<template id="request-list">
    <style>
        .main-box {
            overflow-y: auto;
            height: 10em;
        }
        thead th {
            position: sticky;
            top: 0;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
        th,td {
            padding: .3em;
            border: 1px solid #ccc;
        }
        th {
            background: rgb(94, 84, 84);
        }
    </style>
    <div class="main-box">
        <table>
          <thead>
            <tr>
              <th width="1px">#</th>
              <th>Метод</th>
              <th>Параметры</th>
              <th width="1px">
                <input type="checkbox">
              </th>
              <th width="1px"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
</template>