<template id="connection-config">
    <h2></h2>
    <form style="width: 30vw;">
    <label>  
    протокол
    <select disabled="" name="proto">
        <option selected="">TCP</option>
        <option>WS</option>
    </select>
    
    </label>
    <label>
        хост
        <input type="text" name="host" value="127.0.0.1">
    </label>
    <label>
        порт
        <input type="number" name="port" value="35035">
    </label>
    <label id="session" hidden="">
        сессия(для TCP)
        <input type="number" name="session" value="0">
    </label>
    <input name="submit" type="button" value="connect" style="
    display: inline-block;
    width: 45vw;
    ">
    </form>
</template>